<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-horizontal-layout size-full _id="hlLayoutButton">
    <vaadin-horizontal-layout _id="spacerLayout1"></vaadin-horizontal-layout>
    <vaadin-horizontal-layout _id="spacerLayout2"></vaadin-horizontal-layout>
    <vaadin-horizontal-layout _id="spacerLayout"></vaadin-horizontal-layout>
    <vaadin-button icon="fonticon://Vaadin-Icons/e801" style-name="small friendly" width="110px" height="35px" plain-text _id="btnNew">
      Yeni Kayıt 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout size-full _id="vlLayoutGrid" :middle :center></vaadin-vertical-layout>
   <vaadin-grid size-full _id="gridBook" :middle :center>
    <table>
     <colgroup>
      <col column-id="project" sortable="false">
      <col column-id="status" sortable="false">
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="project">Project</th>
       <th plain-text column-ids="status">Status</th>
      </tr>
     </thead>
     <tbody>
      <tr item="project1">
       <td>Customer Project 1</td>
       <td>OK</td>
      </tr>
      <tr item="project2">
       <td>Customer Project 2</td>
       <td>OK</td>
      </tr>
      <tr item="project3">
       <td>Customer Project 3</td>
       <td>OK</td>
      </tr>
      <tr item="project4">
       <td>Customer Project 4</td>
       <td>OK</td>
      </tr>
      <tr item="project5">
       <td>Customer Project 5</td>
       <td>OK</td>
      </tr>
      <tr item="project6">
       <td>Customer Project 6</td>
       <td>OK</td>
      </tr>
      <tr item="project7">
       <td>Customer Project 7</td>
       <td>OK</td>
      </tr>
      <tr item="project8">
       <td>Customer Project 8</td>
       <td>OK</td>
      </tr>
      <tr item="project9">
       <td>Customer Project 9</td>
       <td>OK</td>
      </tr>
     </tbody>
    </table>
   </vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>