<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-absolute-layout responsive width="759px" height="318px">
   <vaadin-label plain-text :top="11px" :left="241px">
     Kütüphane Otomasyonu 
   </vaadin-label>
   <vaadin-label :top="36px" :left="90px">
     Bootcamp boyunca ben ve benim gibi birçok insana kattığı değer için 
   </vaadin-label>
   <vaadin-label plain-text :top="61px" :left="212px">
     Batuhan Düzgün ve Kodluyoruz 
   </vaadin-label>
   <vaadin-label plain-text :top="86px" :left="190px">
     Ekibine sonsuz teşekkürler.Iyiki varsınız... 
   </vaadin-label>
   <vaadin-button icon="fonticon://Vaadin-Icons/e929" style-name="small friendly" plain-text _id="btnCreateBook" :top="145px" :left="59px">
     Kitap Ekle 
   </vaadin-button>
   <vaadin-button icon="fonticon://Vaadin-Icons/e92a" style-name="small danger" plain-text _id="btnDeleteBook" :top="145px" :left="190px">
     Kitap Sil 
   </vaadin-button>
   <vaadin-button icon="fonticon://Vaadin-Icons/e771" style-name="small friendly" plain-text _id="btnUpdateBook" :top="145px" :left="309px">
     Kitap Güncelle 
   </vaadin-button>
   <vaadin-button icon="fonticon://Vaadin-Icons/e92b" style-name="small primary" plain-text _id="btnSearchBook" :top="145px" :left="468px">
     Kitap Ara 
   </vaadin-button>
   <vaadin-button icon="fonticon://Vaadin-Icons/e68f" style-name="small primary" plain-text _id="btnApiList" :top="196px" :left="222px">
     Otomasyon API Listesi 
   </vaadin-button>
  </vaadin-absolute-layout>
 </body>
</html>